<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net48" />
  <package id="ExtentReports" version="4.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net48" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net48" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net48" />
  <package id="RestSharp" version="106.10.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net48" />
  <package id="System.Private.ServiceModel" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.DispatchProxy" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
</packages>